.App {
  text-align: center;
}

/* left container */
.App-header {
  background-color: grey;
  width: 250px;
  height: 850px;
  color: black;
  padding: 20px;
  text-align: left;
  display: inline-block;
  float: left;
}

.App-title {
  font-size: 1.5em;
  margin-top: 50px;
  padding-left: 25px;
}

.App-intro {
  font-size: large;
}

/* right container */

.Message-container {
  background-color: none;
  width: 500px;
  height: 850px;
  margin-top: 50px;
  color: black;
  text-align: left;
  display: inline-block;
  float: right;
}

h2 {
  font-size: 1.5em;
  margin-top: 70px;
}
